/* Note to students: Some properties are given to you to fill out,
others you can modify as they stand, and if you have time,
there are definitely some properties you should add!*/

    html {
      height: 100%;
    }
    body {
       width: 800px;
       height: 25%;
       background-image: url("http://wallpapercave.com/wp/jYqqRWg.jpg");
       background-color: #708090;

    }

    header {
        /*background-color: #e7ab34;*/
        padding: 20px;
        color: #e7ab34;
        font-size: 30px;
        border-style: ridge;
        border-color: grey;
        display: block;
        text-align: center;
        width: 100%;
    }

    h2 {
      font-style: italic;
      color: #e7ab34;
      text-align: center;
    }
    nav {
        /*float: center;*/
        width: 100%;
    }
  P { text-align: center;
   }

    nav ul {
        list-style-type:;
        color: #e7ab34;
        border-style: ridge;
        border-color: grey;
        text-align: center;
        /*background-color: #e7ab34;*/
        display: inline-block;
        width: 100%;

    }
    nav li {
        text-align: center;
        display: inline-block;
    }
    nav li a {
        display: block;
        height: 25px;
        padding: 12px 18px 8px 18px;
        vertical-align: middle;

    }
    a {
        color: ;
    }
p {
  border: ridge;
  color: #e7ab34;
  border-color: grey;
}

    section {
        width: 100%;
        display: inline-block;
        /*float: center;*/
    }
    aside {
        width: 17%;
        display: inline-block;
        background-color:;
        padding:;
        min-height: 100%;
    }
    aside ul {
        list-style-type: none;
    }
    footer {
        width: 790px;
        background-color: ;
        color: #e7ab34;
        clear: both;
        display: block;
        border-style: ridge;
        text-align: center;
    }
    article {
      width: 100%;
    }
